#tmbritton-embookmarklet {
  height: auto;
  width: 120px;
  background: #e6e6e6;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  border-top: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
}

#tmbritton-embookmarklet #emdisplay {
  font-size: 13px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  position: relative;
  color: #000;
}

#tmbritton-embookmarklet #ems {
  padding-right: 5px;
  border-right: 1px solid;
}

#tmbritton-embookmarklet #pixels {
  margin-left: 5px;
}

#tmbritton-embookmarkletyardstick {
  width: 1em;
  height: 1em;
  position: absolute;
  left: -9999px;
  display: inline;
}

#tmbritton-embookmarklet-close {
  position:absolute;
  top: -8px;
  right: -8px;
  color: #e6e6e6;
  background: #a2a2a2;
  border-radius: 50%;
  font-size: 11px;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  line-height: 1.7;
  text-align: center;
}

#tmbritton-embookmarklet-close:hover {
  background: #e89790;
}
