#tmbritton-embookmarklet {
  height: auto;
  width: 120px;
  background: #e6e6e6;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  border-top: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
}

#tmbritton-embookmarklet #emdisplay {
  font-size: 13px;
  text-align: center;
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  position: relative;
}

#tmbritton-embookmarklet #ems {
  padding-right: 5px;
  border-right: 1px solid;
}

#tmbritton-embookmarklet #pixels {
  margin-left: 5px;
}

#tmbritton-embookmarkletyardstick {
  width: 1em;
  height: 1em;
  position: absolute;
  left: -9999px;
  display: inline;
}
